body
{
	background-color: black;
	text-align: center;
}

p
{
	color: white;
}

#stage
{
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	height: 640px;
	background-color: lightsteelblue;
}